body, html {
    height: 100%;
}

.container {
    height: 300px;
    width: 300px;
    border-color: pink;
    border-style: solid;
    display: flex;
    flex-direction: column;
    color: blue;
}

.row {
    display: flex;
    flex: 1;
}

.row div {
    flex: 1;
    border-style: solid;
    border-color: black;
}

.colored {
    background-color: black;
}